* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a{
  text-decoration: none;
}
body, html {
  overflow-x: hidden;
    height: 100%;
    background-color: black;
    scroll-behavior: smooth;
  }
body {
    font-family: 'Poppins', sans-serif !important;
    color: whitesmoke; 
    height: 100%;          
}

/*Who We Are Section*/
.s_heads{
  text-align: center;
  font-size: 50px;
}

.wwr_img{
  width: 40%;
  height: 10%;
  margin-right: 5%;
}

.who_we_are{
  margin: 0% 10% 5% 10%;
  text-align: justify;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
}



button {
	font-family: 'Poppins', sans-serif;
  text-spacing : 5px;
}

.h_line{
  width: 85%;
  align-self: center;
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 7.5% !important;
  margin-right: 7.5% !important;
  animation: flow 1.5s ease;
  opacity: 0.4;
}

.h_uline{
  width: 40%;
  align-self: center;
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 30% !important;
  margin-right: 30% !important;
  animation: flow 1.5s ease;
  opacity: 0.4;
  
}

/*TimeLine*/

body{
  margin: 0;
  padding: 0; 
 }
 .timeline{
   position: relative;
   margin: 50px auto;
   width: 100%;
   padding: 40px;
 }

 .timeline:before{
   content: '';
   position: absolute;
   left: 50%;
   width: 2px;
   height: 100%;
   background: #c5c5c5;
 }

 .timeline ul{
   margin: 0;
   padding: 0;
 }
 .timeline ul li{
   list-style: none;
   line-height: normal;
   position: relative;
   width: 50%;
   padding: 20px 40px;
   box-sizing: border-box;

 }

 .timeline ul li:nth-child(odd){
   float: left;
   text-align: right;
   clear: both;
 }

 .timeline ul li:nth-child(even){
   float: right;
   text-align: left;
   clear: both;
 }

 .content{
   padding-bottom: 20px;
 }

 .timeline ul li:nth-child(odd):before{
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(0,0,0,0.2);
}

 .timeline ul li:nth-child(even):before{
   content: '';
   position: absolute;
   top: 24px;
   left: -4px;
   width: 10px;
   height: 10px;
   background: rgba(0,0,0,1);
   border-radius: 50%;
   box-shadow: 0 0 0 3px rgba(0,0,0,0.2);
 }

 .timeline ul li h3{
     margin: 0;
     padding: 0;
     font-weight: 600;
     color: black;
 }

 .timeline ul li p{
   margin: 10px 0 0;
   padding: 0;
 }

 .timeline ul li .time h4{
   margin: 0;
   padding: 0;
   font-size: 14px;
 }
 .timeline ul li:nth-child(odd) .time{
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: black;
  color: #FFF;
  border-radius: 18px;
  box-shadow: 0 0 0 3;
}

 .timeline ul li:nth-child(even) .time{
   position: absolute;
   top: 12px;
   left: -165px;
   margin: 0;
   padding: 8px 16px;
   background: black;
   color: #FFF;
   border-radius: 18px;
   box-shadow: 0 0 0 3;
 }
/*TimLine Ends*/

/*Newsletter Begins*/
.twe_container{

   /* The image used */
   background-image: url("twe_back.jpg") !important;
   position: relative;
   /* Full height */
   height: auto;
   text-decoration: none;
 
   /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 5%;
  text-align: center;
  color: black;

}
.twe_container p{
  max-width: 40%;
  margin: 2% auto;
  font-size: 15px;
  font-weight: 300;
}
.email-box{
  height: 40px;
  display: flex;
  justify-content: center;
}
.email-box i{
  background: #777777;
  padding: 4px 4px 4px 4px;
  width: 40px;
  line-height: 40px;
}
#ic{
  padding: 2px 2px 2px 2px;
}
.tbox, .btn{
  border: none;
  outline: none;
}

.tbox{
  width: 0px;
  transition: 0.4s;
}

.email-box:hover > .tbox, .tbox:focus{
  width: 260px;
  padding: 0 10px;
}

.btn{
  background: #777777;
  color: white;
  padding: 4px 4px 4px 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.columna{
  width: 40%;
  margin: 10% auto;
}
.rowb{
  margin: 10% auto;
  display: flex;
  flex-direction: row;
}
.columnb{
  width: 20%;
  margin: 0px 100px 0px 400px;
}

.columnc{
  width: 20%;
  margin: 0px 400px 0px 100px;
}
.row{
  height: 30%;
}
/*Newsletter Ends*/
.container{
  position: relative;
  width: 25%;

}

.container .btn{
  position: absolute;
  margin-top: -12%;
  transform: translate(0%,-50%);
  -ms-transform: translate(-40%, -50%);
  background-color: #555;
  opacity: 0.5;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

header {
  background-color: #000;
	display: flex;
	width: 100%;
	height: 12vh;
    margin: auto;
    align-items: center;
    flex: 3;
}

footer {
    position: absolute;
    bottom: 0;
}

.logo-container,
.nav-links,
.junk {
	display: flex;
}

.container_arrow {
	display: flex;
	height: 100px;
}

.container-footer_arrow {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto auto 1rem auto;
}

.text-label {
  text-transform: uppercase;
  margin-top: 40px;
	font-size: 14px;
  letter-spacing: 0.2em;
  text-decoration: none;
	color: #fff;
}

.arrow-circle-down {
	display: block;
	width: 40px;
	height: 40px;
	margin: 16px 0;
	/*fill: #fff;*/
}

.bounce {
	-webkit-animation: bounce 2s;
	        animation: bounce 2s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}


.logo-container {
    flex: 1;
    font-weight: 400;
    padding: 10px 10px 10px 10px;
    font-family: 'IBM Plex Serif', serif !important;
    color: #fff;
    animation: flow 1.5s ease;
}
nav {
	flex: 1;
}
  
.nav-hamburger {
    height: 10vh;
  }
  
  .nav-links-hamburger {
    background-color: #000;
    display: flex;
    flex: 3;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    position: sticky;
  }
  .nav-links-hamburger input{
    color: black;
  }
  
  .nav-links-hamburger li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  .nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: whitesmoke;
	font-size: 18px;
    text-decoration: none;
    float: right;
}


.list-links{
    text-decoration: none;
    background: linear-gradient(to right, #7d7d81, black );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(1,1,1,0.2);
  color: white;
  transition: 0.3s;
  width: auto;
  padding: 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img{
  border-radius: 20px;
  border-color: inherit;
  padding: 4px;
}
/* Add some padding inside the card container */
.container {
  padding: 20px 20px;
  font-size: 30px;
  width: 100%;
  
}

.twe_editions{
  padding: 2px ;
  margin-left: 10%;
  margin-right: 10%;
}
.twe_units_lat{
  background-color: white;
  width: 100%;
  height: 100%;
}
.twe_units{
  background-color: white;
}
.twe_container{
  padding: 0;
  margin: 0;
}
.twe_container p{
  font-size: 12px;
  width: 100%;
  padding: 4px 10px ;
  color: white;
  background-color: rgba(1,1,1,0.1);
}

.card p{
  background-color: inherit;
}

@keyframes drop{
  0%{
      opacity: 0;
      transform: translateY(-80px);
  }

  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}

@keyframes flow{
  0%{
    opacity: 0;
    transform: translateX(-80px);
  }

  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (min-width: 769px)
{
  .mobile
  {
    display: none;
  }

  .container {
    padding: 20px 20px;
    font-size: 46px;
    width: 100%;
  }
  .logo {
    margin-left: 33%;
    margin-top : 10%;
    border-radius: 15px;
    animation: drop 1.5s ease;
  }  
  .parallax {
    /* The image used */
    /* background-image: url("back.jpg") !important; */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("back.jpg");
    position: relative;
    /* Full height */
    height: auto;
    text-decoration: none;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parallax_events {
  /* The image used */
  background-image: url("back1.jpg") !important;
  position: relative;
  /* Full height */
  height: auto; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}



@media screen and (max-width: 768px)
{
  .columna img{
    width: 100%;
    height: 100%;
  }
  .desktop{
    display: none;
  }
  .twe_editions{
    margin-left: 6%;
    margin-right: 60%;
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 2px;
    font-size: 30px !important;
    
  }
  
  .twe_editions{
    padding: 2px ;
    margin: 2% auto;
  }
  .twe_units_lat{
    background-color: white;
    width: 100%;
    height: 100%;
  }
  .twe_units{
    background-color: white;
  }
  .twe_container{
    padding: 0;
    margin: 0;
  }
  .twe_container p{
    font-size: 12px;
    width: 100%;
  }
  .timeline{
    font-size: 14px;
  }


  .timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
  }

  .timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
  }

  .timeline ul li h3{
      margin: 0;
      padding: 0;
      font-weight: 600;
      color: rgba(233,33,99,1);
  }

  .timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
  }

  .timeline ul li .time h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  .timeline ul li:nth-child(odd) .time{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233,33,99,1);
    color: #FFF;
    border-radius: 18px;
    box-shadow: 0 0 0 3;
  }

  .timeline ul li:nth-child(even) .time{
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233,33,99,1);
    color: #FFF;
    border-radius: 18px;
    box-shadow: 0 0 0 3;
  }

  .content h3{
    color: aliceblue !important;
  }
  .content p{
    display: none;
  }
  .who_we_are{
    margin: 0% 10% 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 14px;
    text-align: justify;
  }


  .arrow{
    text-emphasis:none;
    text-decoration: whitesmoke;
    
  }

  .wwr_img{
    margin: 0% 0% 4% 12%;
    width: 80%;
  }
  
.parallax{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("back.jpg");
  font-weight: bolder;
text-decoration: none;
}

.parallax_events{
  background-image: url("back2.jpg") !important;
}

.logo {
  margin-left: 14%;
  margin-top : 20%;
  animation: drop 1.5s ease;
  align-content: center;
}

.logo_img{
  width: 80%;
}
    body{
        background-color: black;
    }
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
      }
      
      
      .nav-hamburger {
        position: relative;
      }
    
      .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
      }
    
      .nav-links-hamburger {
        position: fixed;
        height: 100vh;
        width: 100%;
        right: 0.5px;
        color: black;
        flex-direction: column;
        clip-path: circle(100px at 110% -10%);
        -webkit-clip-path: circle(100px at 110% -25%);
        transition: all 1s ease-out;
        pointer-events: none;
        background: whitesmoke;
  
      }
      .nav-links-hamburger.open {
        clip-path: circle(1000px at 100% -20%);
        -webkit-clip-path: circle(1000px at 100% -25%);
        pointer-events: all;
      }
      .nav-links-hamburger li {
        opacity: 0;
        color: black;
      }
      .nav-links-hamburger li a {
        color: black;
          font-size: 25px;
      }
  .nav-links-hamburger li:nth-child(0) {
        transition: all 0.5s ease 0s;
      }
      .nav-links-hamburger li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }
      .nav-links-hamburger li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }
      .nav-links-hamburger li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }
  .nav-links-hamburger li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
      }
  .nav-links-hamburger li:nth-child(5) {
        transition: all 0.5s ease 1.0s;
      }
      li.fade {
        opacity: 1;
      }
  
      .fin{
          margin-left: 10%;
      }

}
